<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="todoApp">

<section ng-controller="TodoCtrl as todoCtrl">

  <h1>Todo</h1>

  <form name="todoForm" ng-submit="submit(todoCtrl.model)">

    You have {{ todoCtrl.collection.length }} todos

    <ul>
      <li ng-repeat="model in todoCtrl.collection | orderBy:'-created_at' ">

        <span>{{ model.text }}</span>

        <small>{{ model.created_at | date:'mediumTime' }}</small>

        <a ng-click="remove(model)">
          <b>[X]</b>
        </a>

      </li>
    </ul>

    <input ng-model="todoCtrl.model" autofocus required>

    <button>Add</button>

  </form>

  <pre>TodoCtrl.model = {{ todoCtrl.model | json }}</pre>
  <pre>TodoCtrl.collection = {{ todoCtrl.collection | json }}</pre>

</section>


</body>
</html>